/*
-------------------------------------------------------------------------------
General styling
-------------------------------------------------------------------------------
*/

.container {
	margin-top: 20px;
}

.options {
	position: absolute;
	right: 10px;
	top: 10px;
}

.options-item {
	display: inline;
	margin-left: 10px;
}

.form-send {
	position: absolute;
	bottom: 0px;
	right: 15px;
	padding: 10px 30px;
}

.list-group-item[data-enabled="true"] {
	background: #C8F7C5;
}

.hosts {
	float: left;
}

#search {
	float: right;
	width: 150px;
	margin-top: 20px;
}

textarea {
	min-height: 120px;
}



/*
-------------------------------------------------------------------------------
Typography
-------------------------------------------------------------------------------
*/

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.section-title {
	font-size: 26px;
}
 
.error {
	color: #CF000F;
}

.link {
	cursor: pointer;
}

/*
-------------------------------------------------------------------------------
Helper classes
-------------------------------------------------------------------------------
*/

.overflow-fix {
	overflow: hidden;
}


/*
-------------------------------------------------------------------------------
Notifications
-------------------------------------------------------------------------------
*/

.alert {
	position: absolute;
	bottom: 15px;
	right: 15px;
	display: none;
}